/* 수정 후 */

.analysisWrapper {
  width: 1300px;
  margin: 40px auto;
  text-align: center;
}

.analysisWrapper>h2 {
  margin-bottom: 40px;
}

.BusanMap {
  position: relative;
  width: 600px;
  height: 450px;
  float: left;
}

.PostChart {
  position: relative;
  width: 600px;
  height: 450px;
  float: right;
  margin-top: 70px;
}

.map {
  width: 100%;
  height: 100%;
}

.fixbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.danger .circle {
  background-color: #F4A6A6;
}

.safe .circle {
  background-color: #B6CDBD;
}