/* 수정 후 */

.analysisWrapper{
    width: 1300px;
    margin: 40px auto;
    text-align: center;
}

.analysisWrapper > h2{
    margin-bottom: 40px;
}

.BusanMap{
    position: relative;
    width: 600px;
    height: 450px;
    float: left;
}

.map{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dataTabs {
  width: 600px;
  height: 450px;
  float: right;
}

.tabButton{
    width: 100%;
    height: 35px;
    background-color: var(--point);
    border: solid 1px white;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

.tabinner {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
  background-color: #fafafa;
  width: 100%;
}

.tabinner.active {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}