.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--margin40);
}
.title{
    font-size: var(--fontsize32);
    letter-spacing: -2px;
}
.subtitle{
    font-size: var(--fontsize16);
    margin-top: var(--margin8);
    color: var(--black2);
}
.wrap{
    margin-top: var(--margin40);
    border-radius: var(--border_radius);
    border: 1px solid var(--gray1);
}
.list_wrap{
    padding: var(--padding20) var(--padding40);
    cursor: pointer;
    border-bottom: 1px solid var(--gray1);
    transition: background 0.3s;
}
.list_wrap:hover{
    background: var(--gray2);
}
.top_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontsize14);
    color: var(--black2);
}
.content{
    margin-top: var(--margin12);
}
.like_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap20);
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    gap: var(--gap8);
}
.bottom_wrap{
    display: flex;
    gap: var(--gap20);
    margin-top: var(--margin12);
}
.hate{
    transform: rotate(180deg);
}
.comment_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap8);
}