.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--margin40);
}
.fixed_write{
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: var(--point);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.fixed_write:hover,
.btn_scrolltop:hover{
    transform: translateY(-4px);
}
.fixed_write svg{
    fill: var(--black1);
}
.btn_scrolltop{
    position: fixed;
    right: 40px;
    bottom: 96px;
    background: var(--point);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.title{
    font-size: var(--fontsize32);
    letter-spacing: -2px;
}
.subtitle{
    font-size: var(--fontsize16);
    margin-top: var(--margin8);
    color: var(--black2);
}
.list_wrap{
    display: flex;
    gap: var(--gap20);
    margin: var(--margin40) 0 var(--margin120) 0;
}
.wrap{
    border-radius: var(--border_radius);
    border: 1px solid var(--gray1);
    width: 800px;
}
.list{
    padding: var(--padding20) var(--padding40);
    cursor: pointer;
    border-bottom: 1px solid var(--gray1);
    transition: background 0.3s;
}
.list:hover{
    background: var(--gray2);
}
.top_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontsize14);
    color: var(--black2);
}
.content{
    margin-top: var(--margin12);
}
.like_wrap{
    display: flex;
    gap: var(--gap20);
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    gap: var(--gap8);
}
.bottom_wrap{
    display: flex;
    gap: var(--gap20);
    margin-top: var(--margin12);
}
.hate{
    transform: rotate(180deg);
}
.comment_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap8);
}
.side_box{
    display: flex;
    justify-content: space-between;
    gap: var(--gap20);
    border: 1px solid var(--gray1);
    border-radius: var(--border_radius);
    width: 380px;
    flex-direction: column;
    height: 100%;
    padding-bottom: var(--padding10);
}
.side_title{
    font-size: var(--fontsize24);
    font-weight: bold;
    margin: var(--margin20);
    letter-spacing: -2px;
}
.side_list{
    padding: var(--padding10) var(--padding20);
    display: flex;
    gap: var(--gap20);
    transition: all 0.3s;
    cursor: pointer;
}
.side_list:hover{
    background: var(--gray2);
}
.rank{
    font-size: var(--fontsize20);
}
.side_contentwrap{
    width: 100%;
}
.side_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black2);
}
.side_nickname{
    font-size: var(--fontsize14);
}
.side_date{
    font-size: var(--fontsize12);
}
.side_content{
    font-size: var(--fontsize14);
    margin-top: var(--margin8);
}