.wrapper {
    max-width: 800px;
    margin: 80px auto 40px;
    padding: 0 20px;
    font-family: 'Noto Sans', sans-serif;
}

.postCard {
    /* padding: 20px; */
    background: #fff;
    border-radius: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.nickname {
    font-size: 16px;
    color: #333d4b;
}

.rightHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time {
    font-size: 14px;
    color: #6b7684;
}

.address {
    font-size: 16px;
    font-weight: 800;
    color: #333d4b;
    margin-bottom: 8px;
}

.content {
    font-size: 15px;
    color: #333d4b;
    margin-bottom: 16px;
    white-space: pre-wrap;
}

.image {
    max-width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}

.like_wrap {
    display: flex;
    margin-bottom: 16px;
}

.separator {
    height: 1px;
    background: #E5E8EB;
    margin: 39px 0 24px;
}

.commentForm {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
}

.input {
    flex: 1;
    /* padding: 8px 12px; */
    border-radius: 8px;
    background-color: #F8FAFB;
    border: 1px solid #E5E8EB;
    font-size: 14px;
    resize: none;
    height: 40px;
}

.button {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #FFD75E;
    border: none;
    font-size: 14px;
    color: #333d4b;
    cursor: pointer;
    height: 40px;
}

.commentItem {
    padding: 12px 0;
    border-top: 1px solid #E5E8EB;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.commentContent {
    font-size: 15px;
    color: #333d4b;
    white-space: pre-wrap;
}

.moreWrapper {
    position: relative;
    display: inline-block;
}

.moreIcon {
    background: #f0f0f0;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
}

.moreMenu {
    position: absolute;
    top: 28px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    z-index: 10;
    display: flex;
}

.moreMenuItem {
    padding: 8px 16px;
    background: none;
    border: none;
    color: #333d4b;
    font-weight: 500;
    cursor: pointer;
}